<div class="container">

  <div class="name">
    {{ 'hello' | translate:{name:name} }}
  </div>
  <div class='birthday'>
    <span class="key">{{ 'birthday' | translate }}</span><br><span class="value">{{'datetime'|translate: {date:dateBirthdayString, time:timeBirthdayString} }}</span>
  </div>
  <div class="age my-4">
    <span class="key">{{ 'age' | translate }}</span><br>
    <span class="value" *ngFor="let age of ageList">{{ age }}<br></span>
    <ng-container *ngIf="showWeeks">
      <span class="value">({{'weeks'|translate:{weeks:weeks} }})</span><br>
    </ng-container>
  </div>
  <div class="adulthood">
    <span class="key">{{ 'adulthood' | translate }}</span><br><span class="value">{{ adulthood }}%</span>
  </div>

  <div class="footer">
    <a style="color: #d29872;" routerLink="/set">Settings</a>
  </div>

</div>
