div.container {
  text-align: center;
  padding-top: 130px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

span.key {
  color: #10abd0;
  font-size: 1.3rem;
}

span.value {
  color: #ac4c72;
  font-size: 1.1rem;
}

div.name {
  color: #d29872;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.adulthood {
  flex:1;
  height: 100%;

}
.footer {
  margin-top: auto;
}
