<div class="container" xmlns="http://www.w3.org/1999/html">
  <form [formGroup]="formGroup">

    <div><input class="form-group" type="text" formControlName="name" placeholder="Эллен"/></div>
    <div><input class="form-group" type="text" formControlName="birthday" placeholder="2021-04-12 23:03"/></div>
    <div><input class="form-group" type="text" formControlName="adulthood" placeholder="18"/></div>
    <div><input class="form-group form-check-input" type="checkbox" formControlName="showWeeks"/>Show full weeks</div>
    <div>
      <span>Language </span>
      <select formControlName="language">
        <option *ngFor="let lang of supportedLangs" [value]="lang.locale" [selected]="lang.locale === translate.currentLang">{{ lang.name }}</option>
      </select>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary" type="submit" (click)="onSubmit()" [disabled]="formGroup.invalid">Submit</button>
      <button class="btn btn-secondary" (click)="goBack()">Back</button>
    </div>
    <div class="alert alert-danger mt-3" *ngIf="formGroup.invalid">All fields must be set.<br>Date must be YYYY-MM-DD HH:MM</div>
  </form>
</div>
